body{
  background-color: Lightblue;
}
#center{
  text-align:center;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_bar {
    float: left;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
  color: Indianred;
}

#columns {
  width: 100%;
}

#column1 {
  margin-left: 10px;
  float: left;
  width: 30%;
}

#column2 {
  /*margin-left: 170px;*/
  float: left;
  width: 30%;
}

#column3 {
  /*margin-left: 300px;*/
  float: left;
  width: 30%;
}
