body{
  background-color: Lightblue;
}
#title{
  padding-top: 30px;
}

.links {
    list-style-type: none;
    background-color: dimgrey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav_bar {
    float: left;
}

a#current{
  background-color: darkslategrey;
}

a.navigation {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: Indianred;
}

div li{
  font-family: "Arial", Arial, serif;
}

#columns {
  width: 100%;
}

#column1 {
  margin-left: 10px;
  float: left;
  width: 30%;
}

#column2 {
  float: left;
  width: 30%;
}

#column3 {
  float: left;
  width: 30%;
}
